{% extends 'base.html' %}
{% load static %}

{% block title %}
Course {{ course.title }}
{% endblock %}

{% block content %}
<h1>
  {{ course.title }}<span class="text-muted"> by {{ course.teacher }}</span>
</h1>
{% if course not in user.courses_joined.all and course.teacher != user %}
<form method="post" action="{% url 'courses:enroll' course.slug %}">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">Enroll Now!</button>
</form>
{% endif %}
<hr>
<p>{{ course.overview }}</p>
{% if request.user == course.teacher %}
<a href="{% url 'courses:module_create' course.slug %}" class="btn btn-primary">Add new module</a>
{% endif %}
<br>
<div class="align-items-center">
  {% for module in course.modules.all %}
  <div class="row justify-content-center m-2">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <b>{{ module.title }}</b>
        </div>
        <div class="card-body">
          <p>{{ module.description }}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'courses:module_detail' module.pk %}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}