{% extends 'base.html' %}
{% load cache %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Course {{ course.title }}
{% endblock %}

{% block content %}
<h1>
  {{ course.title }}<span class="text-muted"> by {{ course.teacher }}</span>
  | <small class="text-sm"> ⭐ {% if avg_rate %} {{ avg_rate }} {% else %} No ratings yet {% endif %}</small>
</h1>
{% if course not in user.courses_joined.all and course.teacher != user %}
<form method="post" action="{% url 'courses:enroll' course.slug %}">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">Enroll Now!</button>
</form>
{% elif not rated %}
<form method="post" action="{% url 'stars:rate' course.slug %}">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary">Rate</button>
</form>
{% endif %}
<hr>
<p>{{ course.overview }}</p>
{% if request.user == course.teacher or request.user in course.students.all %}
<a href="{% url 'chat:chat_room' course.slug %}" class="btn btn-primary">Chat Room</a>
{% endif %}
{% if request.user == course.teacher %}
<a href="{% url 'courses:module_create' course.slug %}" class="btn btn-primary">Add new module</a>
{% endif %}
<br>
<div class="align-items-center">
  {% cache 1800 modules course.pk %}
  {% for module in course.modules.all %}
  <div class="row justify-content-center m-2">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <b>{{ module.title }}</b>
        </div>
        <div class="card-body">
          <p>{{ module.description }}</p>
        </div>
        <div class="card-footer">
          <a href="{{ module.get_absolute_url }}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endcache %}
  <hr>
  <h3>Comments</h3>
  {% if user.is_authenticated %}
  <form action="{% url 'comments:comment_course' course.slug %}" method="post">
    {% csrf_token %}
    {{ comment_form|crispy }}
    <button class="btn btn-primary">Comment</button>
  </form>
  {% endif %}
  {% cache 1800 comments course.pk %}
  {% for comment in course.comments.all %}
  <div class="card m-2 col-md-5">
    <div class="card-body">
      <h5 class="card-title">{{ comment.user }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ comment.created }}</h6>
      <p class="card-text">{{ comment.body }}</p>
    </div>
  </div>
  {% endfor %}
  {% endcache %}
</div>
{% endblock %}