{% extends 'base.html' %}
{% load static %}
{% load model_name %}

{% block title %}
Module {{ module.title }}
{% endblock %}

{% block content %}
<h1>{{ module.course }}: {{ module.title }}<span class="text-muted"> by {{ module.course.teacher }}</span></h1>
<hr>
<p>{{ module.description }}</p>
{% if module.course.teacher == request.user %}
<a class="btn btn-primary" href="{% url 'courses:item_create' module.pk 'text' %}">Add new text item</a>
<a class="btn btn-primary" href="{% url 'courses:item_create' module.pk 'image' %}">Add new image item</a>
<a class="btn btn-primary" href="{% url 'courses:item_create' module.pk 'video' %}">Add new video item</a>
<a class="btn btn-primary" href="{% url 'courses:item_create' module.pk 'file' %}">Add new file item</a>
{% endif %}
<br>
<div class="align-items-center">
  {% for item in items %}
  <div class="row justify-content-center m-2">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <b>{{ item.order }}. {{ item.title }}</b>
        </div>
        <div class="card-body">
          <p>{{ item.updated|date:"M d, Y" }}</p>
        </div>
        {% if user in module.course.students.all or user == module.course.teacher %}
        <div class="card-footer">
          <a href="{{ item.get_absolute_url }}" class="btn btn-primary">View</a>
        </div>
        {% else %}
        <div class="card-footer">
          You do not have access to this course. <a href="{% url 'courses:detail' module.course.slug %}">Enroll</a> to
          view the contents.
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}